@import '../../components/mixin/media.scss';
.header{
  background-image: url('../../../img/about-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  position: relative;
}
.header-top{
  display: flex;
  justify-content: space-between;
}
.about-socials{
  margin-top: rem(30px);
  margin-left: rem(25px);
}
.burger{
  margin-top: rem(30px);
  margin-right: rem(25px);
  z-index: 2000;
}
.arrow_down{
  fill: #becec6;
  height: 25px;
  width: 30px;
  opacity: .8;
  cursor: pointer;
}
.arrow_down:hover{
  opacity: 1;
}
.arrow-header{
  margin-bottom: rem(70px);
  z-index: 1000;
  display: flex;
  justify-content: center;
}

