doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block title
            title My portfolio
        block script
            link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2GBVsAFdNxz_cL0ilVR1c5VXzoHZHaV8&callback=initMap" async defer)
                
    body
        .wrapper
            block header
            block content
            block footer
